html, body, * {
	background-color: #190529;
	color: white;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

p {
	letter-spacing: 0.04em;
}

button {
	cursor: pointer;
}